<h3>All Bugs</h3>

<thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
    </tr>
    @foreach (Bug bug in Bugs)
    {
        <tr>
            <td>@bug.Id</td>
            <td>@bug.Title</td>
            <td>@bug.Description</td>
            <td>@bug.Priority</td>
        </tr>
    }
</thead>
@code {

    public List<Bug> Bugs { get; set; }

    [Inject]
    public IBugService BugService { get; set; }

    protected override void OnInitialized()
    {
        Bugs = BugService.GetBugs().OrderBy(x => x.Priority).ToList<Bug>();
    }
}
